.heroHome {
  background-color: #090909;
  aspect-ratio: 16/6;
  h1,
  span {
    color: #f8f2e8;
    font-size: 154px;
  }
}
.homeDescription {
  padding: 130px 0;
  p {
    font-size: 80px;
    text-indent: 35%;
    color: #1a1a1a;
  }
}
