@media screen and (max-width: 992px) {
  body {
    background-color: red;
  }
  .heroHome {
    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 64px;
      line-height: 48px;
      /* identical to box height, or 75% */
      letter-spacing: -0.01em;
    }
  }
}
