.heroContact {
  background-color: #1e1e1e;
  // aspect-ratio: 16/6;
  padding-top: 185px;
  height: 100vh;
  h1,
  span {
    color: #f8f2e8;
    font-size: 130px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.1px;
    margin: 0;
    padding: 0;
  }
  span {
    background-image: url(../../assets/arrow-hero.svg);
    width: 83px;
    height: 83px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-flex;
  }
  h2 {
    color: #f8f2e8;
    font-size: 85px;
    margin: 0;
    padding: 0;
  }
}
.footerSocials {
  p {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
    color: #f8f2e8;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    li {
      a {
        color: #f8f2e8;
        font-size: 28px;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:after {
          content: "";
          background-image: url(../../assets/mat-arrow-footer.svg);
          display: block;
          width: 16px;
          height: 16px;
          margin-left: 12px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
