.heroContact {
  background-color: #1e1e1e;
  // aspect-ratio: 16/6;
  padding-top: 185px;
  height: 100vh;
  h1,
  span {
    color: #f8f2e8;
    font-size: 130px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.1px;
    margin: 0;
    padding: 0;
  }
  span {
    background-image: url(../../assets/arrow-hero.svg);
    width: 83px;
    height: 83px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-flex;
  }
  h2 {
    color: #f8f2e8;
    font-size: 85px;
    margin: 0;
    padding: 0;
  }
}
