.heroProjects {
  background-color: #1e1e1e;
  aspect-ratio: 16/6;
  h1,
  span {
    color: #f8f2e8;
    font-size: 130px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.1px;
  }
  span {
    background-image: url(../../assets/arrow-hero.svg);
    width: 83px;
    height: 83px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-flex;
  }
}
.projectsListing {
  padding: 50px 0;
  h2 {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    color: #1e1e1e;
    text-transform: uppercase;
  }
  .projectsList {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      a {
        color: #1e1e1e;
        padding: 2rem 0;
        border-top: 1px solid black;
        text-transform: uppercase;
        display: block;
        text-decoration: none;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:after {
          content: "";
          background-image: url("../../assets/arrow-project.svg");
          display: block;
          width: 20px;
          height: 20px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      &:last-child {
        a {
          border-bottom: 1px solid #1e1e1e;
        }
      }
    }
  }
}
.projectsCTA {
  margin: auto;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
}
.categoriesProject {
  padding-top: 168px;
  padding-bottom: 158px;
  h2 {
    font-size: 14px;
    font-weight: 700;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.5rem;
    }
  }
}
