.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.loading.hidden {
  opacity: 0;
}
