.heroProject {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  // aspect-ratio: 16/6;
  height: 90vh;
}

.heroTitle {
  font-size: 75px;
  font-weight: 500;
  color: #f8f2e8;
}

.projectType {
  display: flex;
  justify-content: space-between;
  bottom: 4rem;
  max-width: 1440px;
  margin: auto;
  margin-top: -5rem;
  .projectTypeFlex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  p {
    font-size: 15px;
    color: white;
    letter-spacing: -0.1px;
  }
}
