.heroProject {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heroTitle {
  font-size: 75px;
  font-weight: 500;
  color: #f8f2e8;
}
