.sectionClient {
  padding-top: 160px;
  padding-bottom: 30px;
  .descriptionClient {
    p {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      margin-bottom: 4px;
    }
  }
  .servicesClient {
    h3 {
      font-weight: 600;
      font-size: 14px;
      margin: 0;
      padding: 0;
      margin-bottom: 4px;
    }
    p,
    div {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      margin-bottom: 4px;
      br {
        margin-bottom: 4px;
      }
    }
  }
}
