.heroAbout {
  background-color: #1e1e1e;
  aspect-ratio: 16/6;
  h1,
  span {
    color: #f8f2e8;
    font-size: 130px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.1px;
  }
}

.aboutDescription {
  padding-top: 160px;
  .aboutDescription_title {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .aboutDescription_paragraph {
    p {
      font-size: 49px;
      // text-indent: 35%;
      color: #1a1a1a;
      margin: 0;
      padding: 0;
      margin-bottom: 90px;
      line-height: 68px;
    }
  }
}
