* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  max-width: 1440px;
  margin: auto;
  display: flex;

  flex-wrap: wrap;

  .col12 {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 20px;
  }
  .col6 {
    flex: 0 0 auto;
    width: calc(100% / 2);
    padding: 0 20px;
  }
  .col4 {
    flex: 0 0 auto;
    width: calc(100% / 3);
    padding: 0 20px;
  }
  .col3 {
    flex: 0 0 auto;
    width: calc(100% / 4);
    padding: 0 20px;
  }
  .col9 {
    flex: 0 0 auto;
    width: 75%;
    margin: auto 0;
    padding: 0 20px;
  }
  .col10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
    margin: auto 0;
    padding: 0 20px;
  }
}
.containerFluid {
  max-width: 100%;
}

.h100 {
  height: 100%;
}
.flexRight {
  justify-content: end;
}
.flexCenter {
  justify-content: center;
}
.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
